@import './src/front-end/stylesheets/_colors.scss';
@import './src/front-end/stylesheets/_buttons.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}